@model TekConf.Models.EventDetailsViewModel

@{
    ViewBag.Title = "Event " + Model.Event.name;
}

<div class="container">
    <header class="text-center">
        <h1>@Model.Event.name</h1>
        @if (@User.Identity.IsAuthenticated) {
            using (Html.BeginForm("Participate", "Events", new { id = Model.Event.id }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <input type="submit" value="I'm in!" class="btn btn-success" />
            }
        }
        <h5>On @Model.Event.time.Date.ToShortDateString() at @Model.Event.time.TimeOfDay</h5>
    </header>
    <div class="gap"></div>
    <div class="row">
        <div class="col-md-8">
            <p>@Model.Event.description</p>
        </div>
        <div class="col-md-4">
            <p>
                <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                <a href="@Model.Event.event_link">@Model.Event.event_link</a>
            </p>
            <p>
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                @Model.attendees.Count attendees</p>
            <p>
                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                <a href="@Model.googleCalendarLink">Add to my Google Calendar</a>
            </p>
        </div>
    </div>
    <div class="gap"></div>
    <div class="row">
        <div class="col-md-offset-1">
            <iframe src="@ViewBag.videoLink" width="800" height="400"></iframe>
        </div>
    </div>
    <div class="row">
        <h4>Speakers</h4>
        <ul>
            @foreach (AspNetUsers user in Model.speakers)
            {
                <li>@user.Firstname @user.Lastname</li>
            }
        </ul>
    </div>
    <div class="row">
        <h4>Technologies</h4>
        @foreach (Technology technology in Model.technologies)
        {
            <span class="label label-primary">@technology.name</span>
        }
    </div>


    <div class="gap"></div>

    <div class="row">
        <div class="col-md-8" style="height: 300px;">
            <div id="map-canvas"></div>
        </div>
        <div class="col-md-4">
            <h4>Event address</h4>
            <p>@Model.Event.location</p>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        var geocoder;
        var map;
        var center;
        function initialize() {
            geocoder = new google.maps.Geocoder();
            codeAddress();
            var mapOptions = {
                center: center,
                zoom: 12
            };
            map = new google.maps.Map(document.getElementById('map-canvas'),
                mapOptions);
        }

        function codeAddress() {
            var address = "@Model.Event.location";
            geocoder.geocode({ 'address': address }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    center = results[0].geometry.location;
                    map.setCenter(results[0].geometry.location);
                    var marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location
                    });
                } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    });
</script>