@{
    ViewBag.Title = "Index";
}
<div class="container">
    <h2 class="text-center">Events <span class="text-center">
    @Html.ActionLink("Add a new event", "Create", new { }, new { @class = "btn btn-primary btn-sm" })
</span></h2>

    

    <h3>Find an event</h3>
    @using (Html.BeginForm("Search", "Events", FormMethod.Post, new { id = "searchForm" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.Label("Near", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.Editor("Near", new { htmlAttributes = new { @class = "form-control", id = "Event_location", placeholder = "Enter a place" } })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("On", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <select name="Month" class="form-control">
                        <option selected="selected"></option>
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                    <select name="Year" class="form-control">
                        <!--<option selected="selected"></option>-->
                        <option value="2015" selected="selected">2015</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Technologies", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <select class="js-example-basic-multiple" multiple="multiple" name="technologies[]">
                        @foreach (Technology t in ViewBag.technologies)
                        {
                            <option value="@t.id">@t.name</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Topic", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.Editor("Topic", new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Search!" class="btn btn-default" id="searchSubmit" />
                </div>
            </div>

        </div>
    }


    <div class="gap"></div>

    <div class="row">
        <div class="col-md-8" style="height: 300px;">
            <div id="map-canvas"></div>
        </div>
        <div class="col-md-4">
            <h4>Event address</h4>
            <p>#YOLO</p>
        </div>
    </div>

    <h3>Results</h3>

    <div class="list-group" id="results">

        @*@foreach (Event e in ViewBag.results)
            {
                <a href="@Url.Action("Details", "Events", new { id = @e.id })" class="list-group-item">
                    <div class="row">
                        <div class="col-md-9">
                            <h4 class="list-group-item-heading">
                                @e.name <small>@e.time.Date.ToShortDateString() at @e.time.TimeOfDay.ToString("hh':'mm")</small>
                            </h4>
                            <p class="list-group-item-text">@e.description</p>
                        </div>
                        <div class="col-md-3 see-more-btn">
                            <p class="btn btn-primary btn-sm"> See More </p>
                        </div>
                    </div>
                </a>
            }*@
    </div>

</div>

<script type="text/javascript">
    var geocoder;
    var map;
    var center;
    var refGeocode = 0;
    var results = [];
    var markersArray = [];

    $(document).ready(function () {
        var input = document.getElementById('Event_location');
        var options = {
        };
        autocomplete = new google.maps.places.Autocomplete(input, options);
        InitMap(0, '#yolo');


        $('#searchSubmit').click(function (e) {
            var selectedAddress = 'Paris, France';
            refGeocode = 0;
            if ($('#Event_location').val()) {
                selectedAddress = $('#Event_location').val();
            }
            InitMap(3, selectedAddress);

            e.preventDefault();
            $.post('/Events/Search', $('#searchForm').serialize(), function (data) {
                $("#results").empty();
                if (data.length <= 0)
                    $("#results").append('No event found!');
                results = [];
                
                for (i = 0; i < data.length; ++i) {
                    var ev = data[i];
                    var curAddress = ev.location;
                    InitMap(1, curAddress, ev);
                }
                setTimeout(function () {
                    sortResult();
                    InitMap(2, 'no');
                }, heurMapT);
            });
        });
    });

    function InitMap(value, curAddress, ev) {
        if (value == 0) {
            function initialize() {
                geocoder = new google.maps.Geocoder();
                geocoder.geocode({ 'address': 'Paris, France' }, function (mapsresults, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        var start = mapsresults[0].geometry.location;
                        var mapOptions = {
                            center: start,
                            zoom: 12
                        };
                        map = new google.maps.Map(document.getElementById('map-canvas'),
                            mapOptions);
                    } else {
                        console.log(status);
                    }
                });
            }
        } else if (value == 1) {
            sorting(curAddress, ev);
        } else if (value == 2) {
            codeAddress();
        } else if (value == 3) {
            getRefAddressAsGeocode(curAddress);
        }

        function codeAddress() {
            for (var i = results.length - 1; i >= 0; i--) {
                center = results[i][1];

                map.setCenter(center);
                var marker = new google.maps.Marker({
                    map: map,
                    position: center
                });
                markersArray.push(marker);

                var ev = results[i][3];
                var eventDate = new Date(ev.time);
                var eventDateMonth = eventDate.getMonth() + 1;
                $("#results").prepend('<a href="/Events/Details/' + ev.id + '" class="list-group-item"> \
                        <div class="row"> \
                            <div class="col-md-9"> \
                                <h4 class="list-group-item-heading">'
                                + ev.name + ' <small>' + eventDate.getDate() + "/" + eventDateMonth + "/" + eventDate.getFullYear() + " - " + ev.location +'</small> \
                                </h4> \
                                <p class="list-group-item-text">' + ev.description + '</p> \
                            </div> \
                            <div class="col-md-3 see-more-btn"> \
                                <p class="btn btn-primary btn-sm"> See More </p> \
                            </div> \
                        </div> \
                    </a>');
            }
        }

        function getRefAddressAsGeocode(refAddress) {
            geocoder.geocode({ 'address': refAddress }, function (mapsresults, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    refGeocode = mapsresults[0].geometry.location;
                } else {
                    console.log(status);
                }
            });
        }

        function sorting(curAddress, ev) {
            var address = curAddress;
            geocoder.geocode({ 'address': address }, function (mapsresults, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    center = mapsresults[0].geometry.location;
                    var distance = getDistance(refGeocode, center);
                    var temp = [];
                    temp.push(curAddress);
                    temp.push(center);
                    temp.push(distance);
                    temp.push(ev);
                    results.push(temp);
                } else {
                    alert('Sorry, but we didn\'t find the selected address. Try a new one !');
                    console.log(status);
                }
            });
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    };
    var heurMapT = 1523;

    function heuristic(a, b) {
        return a[2] - b[2];
    }

    function sortResult() {
        results.sort(heuristic);
    }

    var rad = function (x) {
        return x * Math.PI / 180;
    };

    function targetParis() {
    }

    var getDistance = function (p1, p2) {
        var R = 6371000; // Earth’s mean radius in meter
        var dLat = rad(p2.lat() - p1.lat());
        var dLong = rad(p2.lng() - p1.lng());
        var a = Math.sin(dLat / 2) * Math.sin(dLat / 2) +
          Math.cos(rad(p1.lat())) * Math.cos(rad(p2.lat())) *
          Math.sin(dLong / 2) * Math.sin(dLong / 2);
        var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
        var d = R * c;
        return d; // returns the distance in meter
    };
</script>