<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link href="~/Content/select2.min.css" rel="stylesheet" />
    <style type="text/css">
        #map-canvas {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false">
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("TekConf", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Events", "Index", "Events")</li>
                    @*<li>@Html.ActionLink("Speakers", "Contact", "Home")</li>*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    @if (@ViewContext.RouteData.Values["action"].ToString() == "Index" &&
        @ViewContext.RouteData.Values["controller"].ToString() == "Home")
    {
        <div class="jumbotron jumbotron-background">
            <h1>Welcome on <span class="text-white">Tek</span>Conf!</h1>
            <p class="lead">Discover tech events around you!</p>
            <p>@Html.ActionLink("Get Started!", "Register", "Account", new { area = "" }, new { @class = "btn btn-primary btn-lg" })</p>
        </div>
    }
    
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>TekConf &copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/select2.min.js"></script>
    <script>$(".js-example-basic-multiple").select2();</script>
</body>
</html>
